.plan{
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 34px;
    }
    &__block1{
        background-color: rgba(189, 112, 72, 1);
        height: 90px;
        border-radius: 15px;
        font-weight: 600;
        font-size: 30px;
        line-height: 36.57px;
        color: rgba(255, 255, 255, 1);
        margin-left: -230px;
        padding-left: 230px;
        padding-top: 29px;
        width: 100%;
        position: relative;
       
    }
    &__block2{
        background-color:rgba(219, 145, 107, 1);
        margin-right: -169px;
        height: 90px;
        border-radius: 15px;
        font-weight: 600;
        font-size: 30px;
        line-height: 36.57px;
        color: rgba(255, 255, 255, 1);
        padding-left: 144px;
        padding-top: 29px;
        width: 100%;
        margin-left: -99px;
    }
    &__text-flex{
        gap: 0px 154px;
        display: flex;
        justify-content: space-between;
    }
    &__text{
        width: 522px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24.38px;
        margin-bottom: 26px;
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 24.38px;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 34px;
    }
    &__item{
        width: 496px;
        margin-bottom: 26px;
    }
    &__text2{
        font-weight: 400;
        font-size: 20px;
        line-height: 24.38px;
        margin-bottom: 50px;
    }
    &__btn1,&__btn12{
        display: flex;
        align-items:center ;
        margin-bottom: 55px;
    }
    &__btn1:nth-child(2){
        margin-bottom: 0;
    }
    &__span{
        color: rgba(189, 112, 72, 1);
        font-weight: 500;
        font-size: 30px;
        line-height: 36.57px;
        margin-left: 87px;
    }
    &__title1{
        font-weight: 500;
        font-size: 20px;
        line-height: 24.38px;
        color: rgba(0, 0, 0, 1);
    }
    &__list-btn{
        background-color:rgba(189, 112, 72, 1);
        width: 182px;
        height: 57px;
        cursor: pointer;
        color: rgba(189, 112, 72, 1);
        font-weight: 500;
        font-size: 15px;
        line-height: 18.29px;
        display: flex;
        align-items: center;
        border-radius: 100px;
        padding-left: 35px;
        border: none;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
    }
    &__list-icon{
        padding-right: 12px;
    }
    &__btn2{
        width: 253px;
        height: 57px;
        background-color: rgba(255, 219, 201, 1);
        border-radius: 100px;
        color: rgba(189, 112, 72, 1);
        font-weight: 500;
        font-size: 15px;
        line-height: 18.29px;
        margin-left: 19px;
        font-family: "Montserrat Alternates", sans-serif;
        border: none;
        cursor: pointer;
    }
    &__text3{
        font-weight: 500;
        font-size: 20px;
        line-height: 24.38px;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 31px;
    }
    &__text3-span{
        font-weight: 500;
        font-size: 20px;
        line-height: 24.38px;
        color:rgba(219, 145, 107, 1) ;
        text-decoration: underline;
        cursor: pointer;
    }
    &__text4{
        font-weight: 400;
        font-size: 20px;
        line-height: 24.38px;
    }
}

@media (max-width:375px) {
    .plan{
        &__content{
           display: flex;
        }
        &__block1{
            background-color: rgb(255, 255, 255);
            font-weight: 600;
            font-size: 25px;
            line-height: 36.57px;
            color: rgb(0, 0, 0);
            padding-left: 0;
            text-align: center;
            display: block;
            margin: 0 auto;
        }
        &__block2{
            display: none;
        }
        &__text-flex{
            gap: 0px 154px;
            display: flex;
            justify-content: space-between;
        }
        &__text-block2{
            display: none;  
        }
        &__text{
            width: 293px;
            font-weight: 400;
            font-size: 14px;
            line-height: 18.29px;
            margin-bottom: 26px;
        }
        &__title{
            font-weight: 500;
            font-size: 15px;
            line-height: 24.38px;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 34px;
        }
        &__item{
            width: 293px;
            margin-bottom: 26px;
            font-size:15px;
        }
        &__text2{
            font-weight: 400;
            font-size: 15px;
            line-height: 24.38px;
            width: 293px;
            margin-bottom: 50px;
        }
        &__btn1{
            display: flex;
            align-items:center ;
            width: 355px;
        }
        &__btn12{
            display: block;
        }
        &__btn1:nth-child(2){
            margin-bottom: 0;
        }
        &__span{
            color: rgba(189, 112, 72, 1);
            font-weight: 500;
            font-size: 30px;
            line-height: 36.57px;
            margin-left: 90px;
        }
        &__title1{
            font-weight: 500;
            font-size: 18px;
            line-height: 24.38px;
            color: rgba(0, 0, 0, 1);
        }
        &__list-btn{
            background-color:rgba(189, 112, 72, 1);
            width: 309px;
            height: 57px;
            cursor: pointer;
            color: rgba(189, 112, 72, 1);
            font-weight: 500;
            font-size: 15px;
            line-height: 18.29px;
            display: flex;
            align-items: center;
            border-radius: 100px;
            padding-left: 94px;
            border: none;
            color: white;
            font-family: "Montserrat Alternates", sans-serif;
        }
        &__list-icon{
            padding-right: 12px;
        }
        &__btn2{
            margin-top: 26px;
            width: 309px;
            height: 57px;
            background-color: rgba(255, 219, 201, 1);
            border-radius: 100px;
            color: rgba(189, 112, 72, 1);
            font-weight: 500;
            font-size: 15px;
            line-height: 18.29px;
            margin-left: 0;
            font-family: "Montserrat Alternates", sans-serif;
            border: none;
            cursor: pointer;
        }
        &__text3{
            font-weight: 500;
            font-size: 20px;
            line-height: 24.38px;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 31px;
        }
        &__text3-span{
            font-weight: 500;
            font-size: 20px;
            line-height: 24.38px;
            color:rgba(219, 145, 107, 1) ;
            text-decoration: underline;
            cursor: pointer;
        }
        &__text4{
            font-weight: 400;
            font-size: 20px;
            line-height: 24.38px;
        }
    }
}