.ten{
    padding-top: 56px;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        font-weight: 400;
        font-size: 43px;
        line-height: 52.42px;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 45px;
    }
    &__title-span{
        font-size: 43px;
        line-height: 52.42px;
        color: rgba(189, 112, 72, 1);
    }
    &__text{
        font-weight: 400;
        font-size: 20px;
        line-height: 24.38px;
        color: rgba(0, 0, 0, 1);
        width: 662px;
    }
    &__img2{
        width: 629px;
        height: 424px;
        margin-left: 145px;
    }
}

@media (max-width:375px) {
    .ten{
        padding-top: 56px;
        &__inner{
            display: block;
        }
        &__title{
            font-weight: 400;
            font-size: 22px;
            line-height: 52.42px;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 45px;
            width: 370px;

        }
        &__title-span{
            font-size: 43px;
            line-height: 52.42px;
            color: rgba(189, 112, 72, 1);
        }
        &__text{
            font-weight: 400;
            font-size: 20px;
            line-height: 24.38px;
            color:rgba(0, 0, 0, 0.7);
            width: 299px;
        }
        &__img2{
            width: 300px;
            height: 284px;
            margin-left: 0px;
            margin-top: 63px;
            border-radius: 100%;
        }
    }
}