.buy{
    padding-top: 63px;
    &__title{
        width: 1207px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24.38px;
        height: 72px;
        color: rgba(38, 38, 38, 0.7);
        margin-bottom: 70px;
    }
    &__btn1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__block{
        display: flex;
        align-items: center;
    }
    &__list-btn{
        background-color:rgba(189, 112, 72, 1);
        width: 182px;
        height: 57px;
        cursor: pointer;
        color: rgba(189, 112, 72, 1);
        font-weight: 500;
        font-size: 15px;
        line-height: 18.29px;
        display: flex;
        align-items: center;
        border-radius: 100px;
        padding-left: 35px;
        border: none;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
    }
    &__list-icon{
        padding-right: 12px;
    }
    &__btn{
        margin-left: 44px;
        color: rgba(189, 112, 72, 1);
        font-weight: 500;
        font-size: 15px;
        line-height: 18.29px;
    }
    &__text{
        color: rgba(38, 38, 38, 0.7);
        font-weight: 500;
        font-size: 20px;
        line-height: 24.38px;
    }
    &__cost{
        color: rgba(44, 44, 44, 1);
        font-weight: 600;
        font-size: 30px;
        line-height: 36.57px;
        margin-left: 7px;
    }
}
@media (max-width:375px) {
    .buy{
        padding-top: 37px;
        &__title{
            width: 307px;
            font-weight: 400;
            font-size: 15px;
            line-height: 24.38px;
            color: rgba(38, 38, 38, 0.7);
            margin-bottom: 70px;
        }
        &__btn1{
            padding-top: 95px;
            display: flex;
            flex-direction: column-reverse;
        }
        &__block{
            display: flex;
            align-items: center;
        }
        &__list-btn{
            background-color:rgba(189, 112, 72, 1);
            width: 182px;
            height: 57px;
            cursor: pointer;
            color: rgba(189, 112, 72, 1);
            font-weight: 500;
            font-size: 15px;
            line-height: 18.29px;
            display: flex;
            align-items: center;
            border-radius: 100px;
            padding-left: 35px;
            border: none;
            color: white;
            font-family: "Montserrat Alternates", sans-serif;
        }
        &__list-icon{
            padding-right: 12px;
        }
        &__btn{
            margin-left: 44px;
            color: rgba(189, 112, 72, 1);
            font-weight: 500;
            font-size: 15px;
            line-height: 18.29px;
        }
        &__text{
            color: rgba(38, 38, 38, 0.7);
            font-weight: 500;
            width: 319px;
            font-size: 15px;
            line-height: 24.38px;
            margin-bottom: 32px;
            
        }
        &__cost{
            color: rgba(44, 44, 44, 1);
            font-weight: 600;
            font-size: 25px;
            line-height: 36.57px;
            margin-left: 7px;
        }
    }
    
}